@model IEnumerable<UserRegistration.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registration","Register")
    @Html.ActionLink("Login user", "Login")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdharcardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landmark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceOfIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossAnnualIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdharcardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landmark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceOfIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrossAnnualIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistrationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistrationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistrationId })
        </td>
    </tr>
}

</table>
